{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

    {% block contacto %}
    <li class="active"><a href="#"><i class="fa fa-envelope-o"></i> {{ 'menu.contacto' | trans }}</a></li>
    {% endblock %}

{% block body %}

    <div align="center">
        <img class="img-responsive" src="{{ asset('/img/'~'caratula.jpg') }}" >
    </div>

    <h2>{{ 'contacto.titulo_1' | trans }}</h2>


<div class="row row-content">
            <div class="col-xs-12">
                <h3>{{ 'contacto.titulo_2' | trans }}</h3>                
            </div>
            <div class="col-xs-12 col-sm-9">
                <form class="form-horizontal" role="form" method="post" action="mailto:comercial@kiupa.es">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">{{ 'contacto.nombre' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="{{ 'contacto.placeholder_1' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">{{ 'contacto.apellido' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="{{ 'contacto.placeholder_2' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telnum" class="col-xs-12 col-sm-2 control-label">{{ 'contacto.telefono' | trans }}</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">                        
                            <div class="input-group">                                
                                <div class="input-group-addon">(</div>
                                    <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="{{ 'contacto.placeholder_3' | trans }}">
                                <div class="input-group-addon">)</div>                                
                            </div>                            
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-7">
                                    <input type="tel" class="form-control" id="telnum" name="telnum" maxlength="9" placeholder="{{ 'contacto.placeholder_4' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailid" class="col-sm-2 control-label">{{ 'contacto.email' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="emailid" name="emailid" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Aquí su Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox col-sm-5 col-sm-offset-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="approve" value="">
                                <strong>{{ 'contacto.llamar' | trans }}</strong>
                            </label>
                        </div>
                        <div class="col-sm-3 col-sm-offset-1">
                            <select class="form-control">
                                <option>Tel.</option>
                                <option>Email</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="feedback" class="col-sm-2 control-label">{{ 'contacto.mensaje' | trans }}</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">{{ 'contacto.boton' | trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>
    </div>

{% endblock %}