{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block body %}

    <h1>{{ 'tipoanuncio.titulo_1' | trans }}</h1>

    <br><br><br><br><br>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <br><br><br><br><br>

    <ul>
        <li>
            <a href="{{ path('tipoanuncio_index') }}">{{ 'tipoanuncio.enlace_1' | trans }}</a>
        </li>
    </ul>
{% endblock %}
