{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block body %}
    <h1>{{ 'ltipo.titulo_1' | trans }}</h1>

{% for tipoanuncio in tipoanuncios %}
<h4>{{ tipoanuncio.nombre }}</h4>

<table class="table table-striped">
<thead>
	<tr>
		<th>{{ 'Id' | trans }}</th>
		<th>{{ 'Fecha' | trans }}</th>
		<th>{{ 'Tìtulo' | trans }}</th>
		<th>{{ 'Texto' | trans }}</th>
	</tr>
	</thead>
	{% for anuncio in tipoanuncio.tipoanuncios %}
	<tbody>
	<tr>			
		<td>{{ anuncio.id }}</td>
		<td>{{ anuncio.fecha }}</td>
		<td>{{ anuncio.titulo }}</td>
		<td>{{ anuncio.texto }}</td>

	</tr>
	</tbody>
	{% endfor %}
</table>
{% endfor %}

{% endblock %}