{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block body %}
    <h1>{{ 'anuncios.titulo_1' | trans }}</h1>

<div class="row">
    <div class='col-sm-5'>

    {{ form_start(form) }}
        {{ form_widget(form) }}        
        <input type="submit" value="Crear" />        
    {{ form_end(form) }}
    <br>
    <ul>
        <li>        
            <a href="{{ path('anuncio_index') }}">{{ 'anuncios.titulo_2' | trans }}</a>
        </li>
    </ul>
  </div>
</div>    
{% endblock %}
