{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block estadistica %}
            <li class="active"><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> {{ 'menu.estadisticas' | trans }}</a></li>
{% endblock %}

{% block body %}

    <div align="center">
        <img class="img-responsive" src="{{ asset('/img/'~'caratula.jpg') }}" >
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <h1>{{ 'estadisticas.titulo_1' | trans }}</h1>

            {{ 'estadisticas.titulo_2' | trans }} {{ tipocomercios|length }} {{ 'estadisticas.titulo_3' | trans }}<br>
            {{ 'estadisticas.titulo_4' | trans }}<br>
            {{ 'estadisticas.titulo_5' | trans }}<br> 

        <br>
        <table class="table">
            {% for tipocomercio in tipocomercios %}
            <tr>
                <td class="info"><h2>{{ tipocomercio.nombre }}</h2></td>
                <td class="danger" align="center"><h1><span class="label label-danger">{{ ((tipocomercio.busquedas|length / tipocomercios|length) * 100) | round(2, 'common') }} %</h1></span></td>
                <tr>
                    <td class="warning">{{ ((tipocomercio.busquedas|length / tipocomercios|length) * 100) | round(2, 'common') }}% Porcentaje de búsquedas por este criterio "{{ tipocomercio.nombre }}"</td>
                </tr>
            </tr>
            {% endfor %}
        </table> 

    {% endif %}

{% endblock %}

