{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

    {% block buscar %}
    <li class="active"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Buscar...</a></li>
    {% endblock %} 

{% block body %}
<br><br>
    <h1>{{ 'buscador.title' | trans }}</h1>
<br><br>
<br><br>
    <div align="center">
        <div class="row">
            <div class='col-sm-5 col-sm-offset-3'>

                {{ form_start(form) }}
                    {{ form_widget(form.criterio) }}<br>
                     <input type="submit" value="Ir a buscar..." />
                {{ form_end(form) }}

            </div>
        </div>
    </div>
<br><br><br><br><br><br><br><br><br><br><br>
<!--   
    <ul>
        <li>
            <a href="{{ path('buscar_index') }}">Listar búsquedas</a>
        </li>
    </ul>
-->

{% endblock %}


