{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

    {% block buscar %}
    <li class="active"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Buscar...</a></li>
    {% endblock %} 

{% block body %}
<br><br>
    <h1>{{ 'buscador.title' | trans }}</h1>
<br><br>
<br><br>
    <div align="center">
        <div class="row">
            <div class='col-sm-5 col-sm-offset-3'>

                {{ form_start(form) }}
                    {{ form_widget(form.criterio) }}<br>
                     <input type="submit" value="Ir a buscar..." />
                {{ form_end(form) }}

            </div>
        </div>
    </div>
<br>
<!--   
    <ul>
        <li>
            <a href="{{ path('buscar_index') }}">Listar búsquedas</a>
        </li>
    </ul>
-->

{% endblock %}

{% block footer %}
    <footer class="clase-general">
        <div class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">{{ 'menu.inicio' | trans }}</a></li>
                        <li><a href="{{ path('buscar_info') }}">{{ 'menu.que_es' | trans }}</a></li>
                        <li><a href="{{ path('anuncio_index') }}">{{ 'menu.anuncios' | trans }}</a></li>
                        <li><a href="{{ path('buscar_contacto') }}">{{ 'menu.contacto' | trans }}</a></li>                         
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <h5>{{ 'footer.mensaje_1' | trans }}</h5>
                    <address>
                      Av. Rambleta, nº 95 - 1º<br>
                      03700 - Catarroja (Valencia)<br>
                      Spain<br>
                      <i class="fa fa-phone"></i>: +xx xxx xx xx<br>
                      <i class="fa fa-mobile"></i>: +xx xxx xx xx<br>
                      <i class="fa fa-fax"></i>: +xx xxx xx xx<br>
                      <i class="fa fa-envelope"></i>: <a href="mailto:comercial@kiupa.es">comercial@kiupa.es</a>
                   </address>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="nav navbar-nav" style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn-google-plus" target="_blank" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/5DacTil.5/"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" target="_blank" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" target="_blank" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" target="_blank" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:comercial@kiupa.com"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2017 - Paco Angulo Grancha - DAW</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
